<section id="menu-doc">
  <h1><img src="assets/svg/icon.svg" alt="Quantico" /></h1>
  <span>
    <h2>Plataforma</h2>
    <button disabled>Acessar plataforma</button>
  </span>
  <span>
    <h2>Suporte</h2>
    <ul>
      <li><a routerLink="#" routerLinkActive="active"><i class="fas fa-file-alt"></i> Documentação</a></li>
      <li><a routerLink="/panel/variaveis" routerLinkActive="active"><i class="fas fa-code"></i> Variáveis</a></li>
      <li><a routerLink="#" routerLinkActive="active"><i class="fas fa-database"></i> Modelos</a></li>
    </ul>
  </span>
</section>
