#menu-doc
    width 100%
    min-width 220px
    background linear-gradient(180deg, #252EB0 0%, #0D0E61 56.08%, #2A34BE 100%)
    height 100vh
    position: sticky
    top: 0
    padding 30px 0

  h1
    display table
    width 100%
    max-width 70px
    margin 0 auto 10px

  &>span
    display table
    width 100%
    padding 10px 0
    font-size 16px
    line-height 21px
    color #8288DA

    h2
      padding 10px 20px
      text-transform uppercase
      font-weight normal
      font-size 18px

    button
      display table
      width calc(100% - 40px)
      margin 10px auto 0
      background-color #FFEF00
      color #181C84
      padding 10px
      font-size 16px
      border-radius 10px

    li a
      width 100%
      display table
      transform translateX(10px)
      border-left solid 3px transparent
      padding 4px 7px 4px 20px
      margin 5px 0

    li a:hover, li a.active
      cursor pointer
      border-color #00FDFD
      background-color #2B2C88
