<h1>
  <img src="/assets/svg/logo.svg" alt="Quantico" />
</h1>
<button id="button-goole">
  <img src="/assets/svg/google.svg" alt="Google" />
  <p>Entrar com a conta do Google</p>
</button>
<span class="regua">ou</span>
<section>
  <span class="input-icon">
    <i class="fal fa-user"></i>
    <input type="text" placeholder="Usuário ou E-mail" />
  </span>
  <span class="input-icon">
    <i class="fal fa-lock-alt"></i>
    <input type="password" placeholder="Senha" />
  </span>
  <a>Esqueci a senha</a>
  <button routerLink="/panel">Entrar</button>
</section>
<a class="cadastrar">Ainda não tenho conta</a>
