<header>
  <div>
    <h1><i class="fas fa-code"></i> Variáveis</h1>
    <p>As variáveis que podem ser utilzadas no modelo</p>
  </div>
  <div>
    <span><i class="fas fa-user-circle"></i> Fulano de tal</span><a>Sair</a>
  </div>
</header>
<main>
  <section id="filter">
    <div>
      <button><i class="fas fa-filter"></i></button>
      <span>Filtro <i class="fas fa-times"></i></span>
      <p>Limpar Filtro</p>
    </div>
    <div class="menu-filter">
      <form>
        Por Problema
      </form>
    </div>
  </section>
</main>
