::ng-deep
  .mat-form-field .mat-form-field-flex
    background-color transparent

  .mat-form-field-appearance-fill .mat-form-field-underline::before
    background-color #15187B
  .mat-form-field-appearance-fill .mat-form-field-infix
      padding: 0 0 .5em 0


#filter >div:first-child
    display: flex
    align-items: center

    button
      padding 10px 10px 10px 0
      color #15187B
      font-size 18px

    .mat-chip.mat-standard-chip
      background-color #67b5e5
      color white
      border-radius 8.5px
      font-size 14px

    #clear
      color #15187B
      text-decoration underline
      font-size: 12px
      margin-left 10px
