.label-quantico
  font-family Roboto
  font-size 16px
  color #2028A1

  &.label-line
    display: table
    padding: 10px 0

.mat-form-field-appearance-fill.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label, .mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label
  transform: translateY(-0.7em) scale(.75);

mat-checkbox
  padding: 10px 10px 0 0
  color: #20279F

  .mat-checkbox-frame
    border-color: #20279F

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background
  background-color #67B5E5
