@import '_color'
@import '_reset'
@import '_grid'
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

@media screen and (max-width: 720px)
  @import '_mobile'

body
  font-family: 'Roboto', sans-serif;
