@import url('https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css')
@import 'stylus/global'

#panel>main
  header
    display flex
    flex-wrap wrap
    align-items: ce

    &>div:first-child
      flex: auto

      h1
        display table
        font-weight normal
        font-size 38px
        color #141778
        padding-bottom 10px

        &+p
          display table
          font-size 16px
          line-height 21px
          color #848484
          padding-bottom: 30px

  .box-white
    background #FFFFFF
    box-shadow 0px 0px 20px rgba(0, 0, 0, 0.05)
    border-radius 10px
    padding 20px
